numpy==1.26.4
gradio==4.38.1
opencv-python==4.9.0.80
onnx==1.16.0
insightface==0.7.3
psutil==5.9.6
onnxruntime==1.15.1; 
onnxruntime-gpu==1.15.1
tqdm==4.66.4
ftfy
regex
pyvirtualcam
codeformer-pip==0.0.4
gfpgan==1.3.8
